// Основной цвет текста
$main-color-text: #284157;
// Второстепенный цвет текста
$secondary-color-text: #fff;
// Цвет инпутов
$input-color: #878787;
// Основной цвет текста
.mct{
    color: $main-color-text;
}
// Второстепенный цвет текста
.sct{
    color: $secondary-color-text;
}

// Переопределим сетку Bootstrap под размеры макета
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
) !default;




// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px
) !default;

